@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 645px) {
  html {
    font-size: 80%;
  }
}
  
.blog-section{
    height: calc(100vh - 112px);
    display: flex;
    align-items: center;
}

body.dark .blog-header {
    background-image: linear-gradient(#0000008b, #000000e6),
      url("assets/images/hero-bg.webp");
}

body.light .blog-header {
    background-image: linear-gradient(#ffffffa2, #ffffffe6),
      url("assets/images/hero-bg-light.webp");
}